@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold") format("svg"), url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light") format("svg"), url("../fonts/Montserrat-Light/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light/Montserrat-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBoldItalic/Montserrat-SemiBoldItalic.eot");
  src: url("../fonts/Montserrat-SemiBoldItalic/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBoldItalic/Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic") format("svg"), url("../fonts/Montserrat-SemiBoldItalic/Montserrat-SemiBoldItalic.ttf") format("truetype"), url("../fonts/Montserrat-SemiBoldItalic/Montserrat-SemiBoldItalic.woff") format("woff"), url("../fonts/Montserrat-SemiBoldItalic/Montserrat-SemiBoldItalic.woff2") format("woff2");
  font-weight: -SemiBold;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  backface-visibility: hidden;
}

body {
  margin: 0;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased !important;
  background-color: #070b12;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 300;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 500;
}

img {
  border: 0;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

pre {
  overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  background-color: transparent;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
}

html,
body,
main {
  min-height: 100vh;
}

main {
  display: block;
  height: auto;
}

.noselect {
  -webkit-touch-callout: none;
  user-select: none;
}

textarea:focus,
input:focus {
  outline: 0;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  cursor: default;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

a p,
a span,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  cursor: pointer;
}

.clear {
  clear: both;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

[class*="col-"] {
  flex: none;
  min-height: 1px;
  flex-grow: 0;
  flex-shrink: 1;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.col-1 {
  min-width: 8.33333%;
  max-width: 8.33333%;
  flex-basis: 8.33333%;
}

.col-2 {
  min-width: 16.66667%;
  max-width: 16.66667%;
  flex-basis: 16.66667%;
}

.col-3 {
  min-width: 25%;
  max-width: 25%;
  flex-basis: 25%;
}

.col-4 {
  min-width: 33.33333%;
  max-width: 33.33333%;
  flex-basis: 33.33333%;
}

.col-5 {
  min-width: 41.66667%;
  max-width: 41.66667%;
  flex-basis: 41.66667%;
}

.col-6 {
  min-width: 50%;
  max-width: 50%;
  flex-basis: 50%;
}

.col-7 {
  min-width: 58.33333%;
  max-width: 58.33333%;
  flex-basis: 58.33333%;
}

.col-8 {
  min-width: 66.66667%;
  max-width: 66.66667%;
  flex-basis: 66.66667%;
}

.col-9 {
  min-width: 75%;
  max-width: 75%;
  flex-basis: 75%;
}

.col-10 {
  min-width: 83.33333%;
  max-width: 83.33333%;
  flex-basis: 83.33333%;
}

.col-11 {
  min-width: 91.66667%;
  max-width: 91.66667%;
  flex-basis: 91.66667%;
}

.col-12 {
  min-width: 100%;
  max-width: 100%;
  flex-basis: 100%;
}

@media (max-width: 767px) {
  .xs-hide {
    display: none !important;
  }
  .xs-show {
    display: flex !important;
    flex-direction: column;
  }
  .xs-show_b {
    display: block !important;
  }
  .col-xs-auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col-xs {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xs-1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col-xs-2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col-xs-3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col-xs-4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col-xs-5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col-xs-6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col-xs-7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col-xs-8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col-xs-9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col-xs-10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col-xs-11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col-xs-12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .s-hide {
    display: none !important;
  }
  .s-show {
    display: flex !important;
    flex-direction: column;
  }
  .s-show_b {
    display: block !important;
  }
  .col-s-auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col-s {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-s-1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col-s-2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col-s-3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col-s-4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col-s-5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col-s-6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col-s-7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col-s-8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col-s-9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col-s-10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col-s-11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col-s-12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 1001px) and (max-width: 1025px) {
  .sm-hide {
    display: none !important;
  }
  .sm-show {
    display: flex !important;
    flex-direction: column;
  }
  .sm-show_b {
    display: block !important;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col-sm-2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col-sm-3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col-sm-4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col-sm-5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col-sm-6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col-sm-7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col-sm-8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col-sm-9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col-sm-10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col-sm-11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col-sm-12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 1025px) {
  .m-hide {
    display: none !important;
  }
  .m-show {
    display: flex !important;
    flex-direction: column;
  }
  .m-show_b {
    display: block !important;
  }
  .col-m-auto {
    flex: 0 0 auto;
    width: auto;
    min-width: 0;
    max-width: 100%;
  }
  .col-m {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-m-1 {
    min-width: 8.33333%;
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  .col-m-2 {
    min-width: 16.66667%;
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  .col-m-3 {
    min-width: 25%;
    max-width: 25%;
    flex-basis: 25%;
  }
  .col-m-4 {
    min-width: 33.33333%;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  .col-m-5 {
    min-width: 41.66667%;
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  .col-m-6 {
    min-width: 50%;
    max-width: 50%;
    flex-basis: 50%;
  }
  .col-m-7 {
    min-width: 58.33333%;
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  .col-m-8 {
    min-width: 66.66667%;
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  .col-m-9 {
    min-width: 75%;
    max-width: 75%;
    flex-basis: 75%;
  }
  .col-m-10 {
    min-width: 83.33333%;
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  .col-m-11 {
    min-width: 91.66667%;
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  .col-m-12 {
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

:root {
  --animate-delay: 0.7s;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

body.show_modal {
  overflow-y: hidden;
}

h1 {
  color: #fff;
  font-size: 65px;
  font-weight: 600;
  line-height: 70px;
  text-align: left;
}

@media all and (max-width: 760px) {
  h1 {
    font-size: 34px;
    line-height: 45px;
  }
}

h1 span {
  color: #00ffd8;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

h2 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 40px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

@media all and (max-width: 760px) {
  h2 {
    font-size: 20px;
    line-height: 30px;
  }
}

.container {
  width: 1366px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.default_btn {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.6px;
  line-height: 38px;
  text-align: center;
  width: 220px;
  height: 40px;
  display: block;
  border-radius: 23px;
  border: 1px solid #00ffd8;
  background-color: transparent;
  transition: background-color 180ms, color 180ms;
}

.default_btn:hover {
  background-color: #00ffd8;
  color: #070b12;
  transition: background-color 180ms, color 180ms;
}

.arrow_btn {
  width: 36px;
  height: 36px;
  flex: none;
  border: 1px solid #00ffd8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: background-color 180ms;
}

.arrow_btn svg {
  width: 10px;
}

.arrow_btn path {
  fill: #fff;
  transition: fill 180ms;
}

.arrow_btn:hover {
  background-color: #00ffd8;
  transition: background-color 180ms;
}

.arrow_btn:hover path {
  fill: #070b12;
  transition: fill 180ms;
}

.swiper_nav {
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper_nav .swiper_prev::after {
  display: none;
}

.swiper_nav .swiper_prev .arrow_btn {
  transform: rotate(90deg);
}

.swiper_nav .swiper_next {
  margin-left: 42px;
}

.swiper_nav .swiper_next::after {
  display: none;
}

.swiper_nav .swiper_next .arrow_btn {
  transform: rotate(-90deg);
}

header {
  z-index: 5;
  position: fixed;
  width: 100%;
  box-shadow: 0 6px 45px rgba(0, 0, 0, 0.95);
  background: #070b12;
}

@media all and (max-width: 769px) {
  header:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    content: "";
    background: #070b12;
  }
}

header .container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 45px;
  padding-right: 45px;
}

@media all and (max-width: 769px) {
  header .container > * {
    z-index: 3;
  }
}

@media all and (max-width: 767px) {
  header .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

header .container .logo {
  height: 19px;
  opacity: 1;
  transition: opacity 180ms;
}

header .container .logo:hover {
  opacity: 0.4;
  transition: opacity 180ms;
}

header .container nav {
  display: flex;
  align-items: center;
  background: #070b12;
}

@media all and (max-width: 769px) {
  header .container nav {
    max-height: 100vh;
    position: fixed;
    top: 0;
    padding-top: 100px;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    flex-wrap: wrap;
    transform: translateX(100%);
    transition: transform 360ms;
    background: url("../img/mobile_menu_bg.jpg") no-repeat top 31px center/cover;
  }
  header .container nav.active {
    transform: translateX(0);
    transition: transform 360ms;
  }
}

header .container nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

@media all and (max-width: 769px) {
  header .container nav ul {
    flex: 1 1 100%;
    flex-direction: column;
  }
}

header .container nav ul li {
  font-size: 14px;
  font-weight: 300;
}

@media all and (max-width: 769px) {
  header .container nav ul li {
    padding-left: 60px;
    width: 100%;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 45px;
    line-height: normal;
    text-align: left;
  }
}

header .container nav ul li.active:after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #00ffd8;
  position: absolute;
  left: calc(50% - 2px);
  top: calc(100% + 4px);
}

@media all and (max-width: 769px) {
  header .container nav ul li.active:after {
    display: none;
  }
}

header .container nav ul li a {
  color: #ffffff;
  transition: color 180ms;
}

header .container nav ul li a:hover {
  color: #00ffd8;
  transition: color 180ms;
}

header .container nav ul li + li {
  margin-left: 48px;
}

@media all and (max-width: 769px) {
  header .container nav ul li + li {
    margin-left: 0;
    margin-top: 30px;
  }
}

header .container .get_in_touch {
  margin-left: 38px;
}

@media all and (max-width: 769px) {
  header .container .get_in_touch {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
}

header .container .nav_social_block {
  display: none;
}

@media all and (max-width: 769px) {
  header .container .nav_social_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  header .container .nav_social_block a {
    display: block;
    pointer-events: all;
  }
  header .container .nav_social_block a svg {
    max-height: 20px;
  }
  header .container .nav_social_block a svg path {
    fill: #fff;
    transition: fill 180ms;
  }
  header .container .nav_social_block a svg:hover path {
    fill: #00ffd8;
    transition: fill 180ms;
  }
  header .container .nav_social_block a + a {
    margin-left: 50px;
  }
}

header .burger {
  display: none;
}

@media all and (max-width: 769px) {
  header .burger {
    width: 21px;
    height: 21px;
    display: block;
  }
  header .burger:before, header .burger:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: opacity 360ms;
  }
  header .burger:before {
    transition: opacity 360ms;
    background: url("../img/menu_burge_icon.svg") no-repeat center/contain;
  }
  header .burger:after {
    opacity: 0;
    transition: opacity 360ms;
    background: url("../img/menu_close_icon.svg") no-repeat center/contain;
  }
  header .burger.active:before {
    opacity: 0;
    transition: opacity 360ms;
  }
  header .burger.active:after {
    opacity: 1;
    transition: opacity 360ms;
  }
}

.bg {
  position: fixed;
  top: -5vh;
  left: -5%;
  width: 110%;
  height: 110vh;
  z-index: 1;
  background-color: #070b12;
}

.bg > div {
  width: 100%;
  height: 110vh;
}

.bg .layer1 {
  background: url("../img/bg_desktop_1.svg") no-repeat top left/40%;
}

@media all and (max-width: 767px) {
  .bg .layer1 {
    background: url("../img/bg_mobile_1.svg") no-repeat top center/100%;
  }
}

.bg .layer2 {
  background: url("../img/bg_desktop_2.svg") no-repeat right bottom/40%;
}

@media all and (max-width: 767px) {
  .bg .layer2 {
    display: none !important;
  }
}

.bg .layer3 {
  background: url("../img/bg_desktop_3.svg") no-repeat left bottom/30%;
}

@media all and (max-width: 767px) {
  .bg .layer3 {
    background: url("../img/bg_mobile_2.svg") no-repeat bottom center/90%;
  }
}

.bg img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

.cookies {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 5;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.64);
  background-color: #070b12;
  transform: translateY(0);
  transition: transform 360ms;
}

@media all and (max-width: 767px) {
  .cookies {
    padding-top: 30px;
    padding-bottom: 60px;
    flex-wrap: wrap;
  }
}

.cookies.hidden {
  transform: translateY(100%);
  transition: transform 360ms;
}

.cookies .inner {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media all and (max-width: 767px) {
  .cookies .inner {
    flex-wrap: wrap;
  }
}

.cookies p {
  max-width: 835px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
}

@media all and (max-width: 1025px) {
  .cookies p {
    max-width: 90%;
  }
}

@media all and (max-width: 767px) {
  .cookies p {
    max-width: 100%;
    flex: 1 1 100%;
  }
}

.cookies p a {
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.cookies p a:hover {
  text-decoration: underline;
}

.cookies .ok_btn {
  text-transform: uppercase;
  width: 114px;
  height: 34px;
  border-radius: 17px;
  line-height: normal;
}

@media all and (max-width: 767px) {
  .cookies .ok_btn {
    width: 114px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}

.right_social_block {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

@media all and (max-width: 769px) {
  .right_social_block {
    display: none;
  }
}

.right_social_block .container {
  top: 50%;
  transform: translateY(-50%);
}

.right_social_block .links {
  position: absolute;
  right: 50px;
  width: 20px;
  transform: translateY(-50%);
}

@media all and (max-width: 1025px) {
  .right_social_block .links {
    right: 30px;
  }
}

.right_social_block a {
  display: block;
  pointer-events: all;
}

.right_social_block a svg {
  max-height: 20px;
}

.right_social_block a svg path {
  fill: #fff;
  transition: fill 180ms;
}

.right_social_block a svg:hover path {
  fill: #00ffd8;
  transition: fill 180ms;
}

.right_social_block a + a {
  margin-top: 47px;
}

section {
  z-index: 2;
  padding-top: 110px;
  padding-bottom: 190px;
}

@media all and (max-width: 769px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.screen_1 {
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
}

.screen_1 .row {
  top: 50%;
  transform: translateY(-50%);
}

.screen_1 h1 {
  max-width: 758px;
  margin-bottom: 40px;
}

.screen_1 .get_in_touch {
  width: 273px;
  height: 50px;
  border-radius: 25px;
  line-height: 48px;
}

@media all and (max-width: 767px) {
  .screen_1 .get_in_touch {
    width: 252px;
    height: 45px;
    border-radius: 23px;
    line-height: 43px;
  }
}

.screen_1 .scroll_screen_1 {
  position: absolute;
  right: 40px;
  bottom: 160px;
}

@media all and (max-width: 769px) {
  .screen_1 .scroll_screen_1 {
    right: 20px;
    bottom: 30px;
  }
}

.screen_2 {
  display: flex;
  padding-top: 250px;
}

@media all and (max-width: 1025px) {
  .screen_2 {
    padding-top: 110px;
  }
}

@media all and (max-width: 767px) {
  .screen_2 {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}

@media all and (max-width: 767px) {
  .screen_2 .left {
    order: 2;
  }
}

.screen_2 .left .num_wrap {
  border-radius: 50%;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  flex: none;
}

.screen_2 .left .num_wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}

.screen_2 .left .num_wrap .circle {
  stroke: #00ffd8;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}

.screen_2 .left .num_wrap span:after {
  content: "+";
  color: #ffffff;
  font-weight: 600;
}

.screen_2 .left p {
  max-width: 100px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 24px;
}

.screen_2 .left .info {
  display: flex;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  flex: none;
}

.screen_2 .left .big p {
  margin-left: 26px;
}

.screen_2 .left .big .num_wrap {
  width: 175px;
  height: 175px;
  font-size: 72px;
}

.screen_2 .left .big .num_wrap svg {
  top: -13px;
  left: -14px;
  transform: scale(0.9) rotate(-90deg);
}

.screen_2 .left .big .num_wrap span:after {
  font-size: 34px;
  vertical-align: 25px;
}

@media all and (max-width: 767px) {
  .screen_2 .left .small {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.screen_2 .left .small p {
  margin-left: 20px;
}

.screen_2 .left .small .num_wrap {
  width: 90px;
  height: 90px;
  font-size: 44px;
}

.screen_2 .left .small .num_wrap svg {
  transform: scale(0.5) rotate(-90deg);
  top: -56px;
  left: -56px;
}

.screen_2 .left .small .num_wrap span:after {
  font-size: 21px;
  vertical-align: 14px;
}

.screen_2 .left .mid p {
  margin-left: 20px;
}

.screen_2 .left .mid .num_wrap {
  width: 120px;
  height: 120px;
  font-size: 48px;
}

.screen_2 .left .mid .num_wrap svg {
  transform: scale(0.6) rotate(-90deg);
  top: -41px;
  left: -41px;
}

.screen_2 .left .mid .num_wrap span:after {
  font-size: 22px;
  vertical-align: 15px;
}

@media all and (max-width: 769px) {
  .screen_2 .right {
    padding-top: 50px;
  }
}

@media all and (max-width: 767px) {
  .screen_2 .right {
    order: 1;
    padding-top: 0;
  }
}

.screen_2 .right h1 {
  padding-top: 23px;
  max-width: 375px;
  margin-bottom: 35px;
}

@media all and (max-width: 1001px) {
  .screen_2 .right h1 {
    max-width: 100%;
  }
}

@media all and (max-width: 767px) {
  .screen_2 .right h1 {
    margin-bottom: 50px;
    margin-left: 40%;
  }
  .screen_2 .right h1 span {
    display: block;
  }
}

.screen_2 .right p {
  margin-left: 30px;
  max-width: 442px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
}

@media all and (max-width: 1001px) {
  .screen_2 .right p {
    max-width: 100%;
  }
}

@media all and (max-width: 767px) {
  .screen_2 .right p {
    display: none;
  }
}

@media all and (max-width: 767px) {
  .screen_3 {
    padding-top: 100px;
  }
}

.screen_3 h1 {
  margin-bottom: 75px;
}

@media all and (max-width: 767px) {
  .screen_3 h1 {
    margin-bottom: -25px;
  }
}

@media all and (max-width: 767px) {
  .screen_3 .service {
    margin-top: 75px;
  }
}

.screen_3 .service .halfclip {
  width: 50%;
  height: 100%;
  right: 0px;
  position: absolute;
  overflow: hidden;
  transform-origin: left center;
}

.screen_3 .service .halfclip_container {
  width: 300px;
  height: 300px;
  position: absolute;
  width: 220px;
  height: 220px;
  transform: rotate(-62deg);
  top: 6px;
  left: 37px;
}

.screen_3 .service .halfcircle {
  opacity: 0;
  box-sizing: border-box;
  height: 100%;
  right: 0px;
  position: absolute;
  border: solid 2px transparent;
  border-top-color: #00ffd8;
  border-left-color: #00ffd8;
  border-radius: 50%;
  width: 200%;
  transform: rotate(-45deg);
  transform: rotate(135deg);
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: rotate(-45deg);
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(135deg);
  }
}

.screen_3 .service h2 {
  max-width: 240px;
  padding-top: 97px;
  padding-right: 20px;
  margin-bottom: 33px;
  width: 265px;
  height: 175px;
}

.screen_3 .service p {
  margin-left: 100px;
  max-width: 380px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

@media all and (max-width: 767px) {
  .screen_3 .service p {
    margin-left: 40px;
  }
}

.screen_3 .service.shifted {
  margin-top: 128px;
}

@media all and (max-width: 767px) {
  .screen_3 .service.shifted {
    margin-top: 75px;
  }
}

.screen_3 .aws_wrap {
  margin-top: 150px;
  margin-bottom: 100px;
  padding: 75px 100px;
  max-width: 980px;
  transition: border-color 0.25s;
}

@media all and (max-width: 769px) {
  .screen_3 .aws_wrap {
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media all and (max-width: 767px) {
  .screen_3 .aws_wrap {
    padding: 75px 30px 100px 15px;
    margin-left: 0;
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.screen_3 .aws_wrap::before, .screen_3 .aws_wrap::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.screen_3 .aws_wrap::before {
  top: -4px;
  left: -4px;
}

.screen_3 .aws_wrap::after {
  bottom: 0;
  right: 0;
}

.screen_3 .aws_wrap.animated::before, .screen_3 .aws_wrap.animated::after {
  width: 100%;
  height: 100%;
}

.screen_3 .aws_wrap.animated::before {
  border-top-color: #00ffd8;
  border-right-color: #00ffd8;
  transition: width 0.5s ease-out 0.5s, height 0.5s ease-out 1s;
}

.screen_3 .aws_wrap.animated::after {
  border-bottom-color: #00ffd8;
  border-left-color: #00ffd8;
  transition: border-color 0s ease-out 1.5s, width 0.5s ease-out 1.5s, height 0.5s ease-out 2s;
}

.screen_3 .aws_wrap .aws {
  width: 277px;
  height: 135px;
  color: #00ffd8;
  font-size: 110px;
  font-weight: 700;
  margin-bottom: 34px;
  text-transform: uppercase;
}

.screen_3 .aws_wrap .aws span {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.screen_3 .aws_wrap .text {
  margin-left: 200px;
  max-width: 576px;
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
  line-height: 54px;
}

@media all and (max-width: 769px) {
  .screen_3 .aws_wrap .text {
    font-size: 20px;
    line-height: 40px;
    margin-left: 100px;
    max-width: 100%;
  }
}

@media all and (max-width: 767px) {
  .screen_3 .aws_wrap .text {
    margin-left: 0;
  }
}

.screen_4 h1 {
  margin-bottom: 75px;
}

@media all and (max-width: 767px) {
  .screen_4 h1 {
    margin-bottom: 50px;
    margin-left: 40%;
  }
}

.screen_4 h2 {
  margin-bottom: 23px;
}

.screen_4 .wy {
  display: flex;
  margin-bottom: 20px;
}

@media all and (max-width: 767px) {
  .screen_4 .wy {
    margin-bottom: 50px;
  }
}

.screen_4 .wy img {
  flex: none;
  margin-right: 30px;
  width: 45px;
  align-self: baseline;
  margin-top: -2px;
}

.screen_4 .wy p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

.screen_5 {
  box-shadow: 0 0 45px #000000;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-bottom: 190px;
}

@media all and (max-width: 767px) {
  .screen_5 {
    padding: 75px 50px 100px;
    margin-bottom: 100px;
  }
}

.screen_5 h1 {
  margin-bottom: 20px;
  text-align: center;
}

.screen_5 h2 {
  margin-bottom: 43px;
  text-align: center;
}

.screen_5 .get_in_touch {
  margin-left: auto;
  margin-right: auto;
  width: 273px;
  height: 50px;
  border-radius: 25px;
  line-height: 48px;
}

@media all and (max-width: 767px) {
  .screen_5 .get_in_touch {
    width: 252px;
    height: 45px;
    border-radius: 23px;
    line-height: 43px;
  }
}

.screen_6 {
  padding-bottom: 125px;
}

@media all and (max-width: 767px) {
  .screen_6 {
    padding-top: 100px;
  }
}

.screen_6 h1 {
  margin-bottom: 100px;
}

@media all and (max-width: 767px) {
  .screen_6 h1 {
    margin-bottom: 50px;
  }
}

.screen_6 .sponsors {
  flex-wrap: wrap;
}

.screen_6 .sponsors .sponsor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  margin-bottom: 50px;
}

@media all and (max-width: 767px) {
  .screen_6 .sponsors .sponsor {
    height: 60px;
    margin-bottom: 30px;
  }
}

.screen_6 .sponsors img {
  max-width: 188px;
}

@media all and (max-width: 767px) {
  .screen_6 .sponsors img {
    max-width: 100px;
  }
}

.screen_6 .swiper_nav {
  margin-top: 0;
}

@media all and (max-width: 767px) {
  .screen_7 {
    padding-bottom: 100px;
  }
}

.screen_7 h1 {
  margin-bottom: 75px;
}

@media all and (max-width: 767px) {
  .screen_7 h1 {
    margin-bottom: 50px;
    margin-left: 50%;
  }
  .screen_7 h1 span {
    color: #fff;
  }
}

.screen_7 .swiper-container {
  padding-left: 10px;
}

@media all and (max-width: 1025px) {
  .screen_7 .swiper-container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.screen_7 .swiper-slide {
  border: 2px solid #00ffd8;
  padding: 50px 45px 75px;
}

@media all and (max-width: 767px) {
  .screen_7 .swiper-slide {
    padding: 50px 35px 75px;
  }
}

.screen_7 .swiper-slide h2 {
  color: #00ffd8;
  height: 36px;
}

@media all and (max-width: 767px) {
  .screen_7 .swiper-slide h2 {
    height: 26px;
  }
}

.screen_7 .swiper-slide p.author {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.7px;
  margin-bottom: 10px;
}

.screen_7 .swiper-slide .stars {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.screen_7 .swiper-slide .stars img {
  height: 12px;
}

.screen_7 .swiper-slide .stars img + img {
  margin-left: 8px;
}

.screen_7 .swiper-slide p.text {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

@media all and (max-width: 767px) {
  .screen_7 .swiper_nav {
    margin-top: 35px;
  }
}

@media all and (max-width: 767px) {
  .screen_8 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.screen_8 h1 {
  margin-bottom: 25px;
}

@media all and (max-width: 767px) {
  .screen_8 h1 {
    margin-bottom: 0;
    padding-left: 15px;
  }
  .screen_8 h1 span {
    color: #fff;
  }
}

.screen_8 .read_more {
  margin-left: auto;
  margin-right: auto;
}

.blog_link_wrap {
  padding-bottom: 50px;
  padding-top: 50px;
  border-bottom: 1px solid #fff;
}

@media all and (max-width: 767px) {
  .blog_link_wrap {
    padding-bottom: 100px;
    margin-left: 15px;
    margin-right: 15px;
    max-width: calc(100% - 30px);
    min-width: calc(100% - 30px);
    margin-bottom: 75px;
  }
}

.blog_link_wrap .section_date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.blog_link_wrap .section_date p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin-bottom: 0;
}

@media all and (max-width: 767px) {
  .blog_link_wrap .section_date p {
    font-size: 12px;
    letter-spacing: 0.6px;
  }
}

.blog_link_wrap h2 {
  max-width: 880px;
  color: #00ffd8;
  margin-bottom: 14px;
}

.blog_link_wrap p.text {
  max-width: 880px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

.blog_link_wrap .arrow_btn {
  position: absolute;
  right: 0;
  bottom: 50px;
  transform: rotate(-90deg);
}

@media all and (max-width: 767px) {
  .blog_link_wrap .arrow_btn {
    bottom: 30px;
    right: 5px;
  }
}

.blog_link_wrap.no_border {
  border-bottom: none;
}

.screen_9 {
  padding-bottom: 0;
  margin-bottom: -10px;
}

@media all and (max-width: 767px) {
  .screen_9 {
    padding-top: 100px;
  }
}

.screen_9 h1 {
  margin-bottom: 110px;
}

@media all and (max-width: 767px) {
  .screen_9 h1 {
    margin-bottom: 30px;
  }
}

.screen_9 .contacts {
  padding-top: 215px;
  padding-left: 39px;
}

@media all and (max-width: 769px) {
  .screen_9 .contacts {
    padding-bottom: 100px;
    padding-top: 0;
  }
}

@media all and (max-width: 767px) {
  .screen_9 .contacts {
    padding-bottom: 100px;
    padding-top: 0;
    padding-left: 15px;
  }
}

.screen_9 .contacts .line {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
}

@media all and (max-width: 767px) {
  .screen_9 .contacts .line {
    font-size: 16px;
    line-height: 24px;
  }
}

.screen_9 .contacts .line:not(a) {
  cursor: default;
}

.screen_9 .contacts .line img {
  flex: none;
  width: 20px;
  max-height: 22px;
  margin-right: 30px;
}

.screen_9 .contacts .line + .line {
  margin-top: 50px;
}

@media all and (max-width: 767px) {
  .screen_9 .contacts .line + .line {
    margin-top: 25px;
  }
}

.screen_9 .contacts a.line {
  transition: color 180ms;
}

.screen_9 .contacts a.line:hover {
  color: #00ffd8;
  transition: color 180ms;
}

.screen_9 .form-wrap {
  border: 2px solid #00ffd8;
  padding: 100px 64px 80px;
}

@media all and (max-width: 767px) {
  .screen_9 .form-wrap {
    padding: 50px 15px;
  }
}

.screen_9 .form-wrap h2 span {
  color: #00ffd8;
}

.screen_9 .form-wrap p {
  max-width: 374px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 45px;
}

.screen_9 .form-wrap input {
  display: block;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 24px;
  padding-left: 20px;
  width: 100%;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  transition: border-bottom 180ms, color 180ms;
}

.screen_9 .form-wrap input:focus, .screen_9 .form-wrap input:invalid {
  border-radius: 0;
  color: #00ffd8;
  border-bottom: 1px solid #00ffd8;
  transition: border-bottom 180ms, color 180ms;
}

.screen_9 .form-wrap .input_wrap .placeholder {
  pointer-events: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 2px;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 180ms, top 180ms, color 180ms;
}

.screen_9 .form-wrap .input_wrap .error {
  opacity: 0;
  transition: opacity 180ms;
  position: absolute;
  top: 110%;
  left: 20px;
  color: #00ffd8;
}

.screen_9 .form-wrap .input_wrap + .input_wrap {
  margin-top: 40px;
}

.screen_9 .form-wrap .input_wrap input:focus + .placeholder,
.screen_9 .form-wrap .input_wrap .filled + .placeholder,
.screen_9 .form-wrap .input_wrap input:invalid + .placeholder {
  top: 110%;
  transition: opacity 180ms, top 180ms, color 180ms;
}

.screen_9 .form-wrap .input_wrap input:invalid + .placeholder {
  opacity: 0;
  transition: opacity 180ms, top 180ms, color 180ms;
}

.screen_9 .form-wrap .input_wrap input:invalid + .placeholder + .error {
  opacity: 1;
  transition: opacity 180ms;
}

.screen_9 .form-wrap .input_wrap textarea {
  border-radius: 0;
  margin-bottom: 45px;
  min-height: 150px;
  padding: 15px 20px;
  background: transparent;
  resize: vertical;
  width: 100%;
  height: 161px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 24px;
  transition: color 180ms, border 180ms;
}

.screen_9 .form-wrap .input_wrap textarea + .placeholder {
  top: 19px;
}

.screen_9 .form-wrap .input_wrap textarea:focus {
  color: #00ffd8;
  border: 1px solid #00ffd8;
  transition: color 180ms, border 180ms;
}

.screen_9 .form-wrap .input_wrap textarea:focus + .placeholder, .screen_9 .form-wrap .input_wrap textarea.filled + .placeholder {
  top: -20px;
}

.screen_9 .form-wrap .call_modal {
  margin-left: auto;
  margin-right: auto;
}

footer {
  z-index: 2;
  display: flex;
  align-items: center;
  height: 75px;
  background-color: #070b12;
  box-shadow: 0 -3px 45px #000000;
}

@media all and (max-width: 1025px) {
  footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media all and (max-width: 767px) {
  footer {
    padding: 35px 17px 50px;
    height: auto;
  }
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media all and (max-width: 767px) {
  footer .container {
    flex-wrap: wrap;
  }
}

footer p {
  color: #ffffff;
  font-size: 10px;
  font-weight: 300;
  line-height: 16px;
}

@media all and (max-width: 767px) {
  footer p {
    flex: 1 1 100%;
    margin-bottom: 15px;
  }
}

footer a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  transition: opacity 180ms;
  opacity: 1;
}

@media all and (max-width: 767px) {
  footer a {
    flex: 1 1 50%;
  }
  footer a:last-child {
    flex: 1 1 100%;
    margin-top: 24px;
  }
}

footer a img {
  height: 35px;
}

footer a:hover {
  transition: opacity 180ms;
  opacity: 0.4;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 11, 18, 0.7);
  opacity: 1;
  transition: opacity 360ms;
  pointer-events: all;
}

.modal_overlay.hidden {
  opacity: 0;
  transition: opacity 360ms;
  pointer-events: none;
}

.modal_overlay .close {
  width: 17px;
  height: 17px;
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 25px;
}

.modal_overlay .close path {
  fill: #fff;
  transition: fill 180ms;
}

.modal_overlay .close:hover path {
  fill: #00ffd8;
  transition: fill 180ms;
}

.modal_overlay .modal {
  width: 375px;
  padding: 75px 77px 75px 52px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 6px 100px #222222;
  background: #070b12 url("../img/modal_bg_thanks.svg") no-repeat center/cover;
}

@media all and (max-width: 376px) {
  .modal_overlay .modal {
    max-width: 90%;
    padding: 50px 20px;
  }
}

.modal_overlay .modal h2 {
  max-width: 235px;
  margin-bottom: 12px;
}

.modal_overlay .modal h2 span {
  color: #00ffd8;
}

.modal_overlay .modal p {
  max-width: 235px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 42px;
}

.modal_overlay .modal .close_modal {
  margin-left: 26px;
}

.modal_overlay .modal_form {
  max-height: 90vh;
  overflow: auto;
  width: 500px;
  max-width: calc(100% - 50px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 6px 100px #222222;
  background: #070b12 url("../img/modal_bg.svg") no-repeat center/cover;
}

@media all and (max-width: 767px) {
  .modal_overlay .modal_form {
    width: 341px;
  }
}

.modal_overlay .modal_form .form-wrap {
  padding: 100px 64px 80px;
}

@media all and (max-width: 767px) {
  .modal_overlay .modal_form .form-wrap {
    padding: 50px 20px;
  }
}

@media all and (max-width: 376px) {
  .modal_overlay .modal_form .form-wrap {
    max-height: 80vh;
  }
}

.modal_overlay .modal_form .form-wrap h2 span {
  color: #00ffd8;
}

.modal_overlay .modal_form .form-wrap p {
  max-width: 374px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 45px;
}

.modal_overlay .modal_form .form-wrap input {
  border-radius: 0;
  display: block;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 24px;
  padding-left: 20px;
  width: 100%;
  border-bottom: 1px solid #fff;
  transition: border-bottom 180ms, color 180ms;
}

.modal_overlay .modal_form .form-wrap input:focus, .modal_overlay .modal_form .form-wrap input:invalid {
  color: #00ffd8;
  border-bottom: 1px solid #00ffd8;
  transition: border-bottom 180ms, color 180ms;
}

.modal_overlay .modal_form .form-wrap .input_wrap .placeholder {
  pointer-events: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 2px;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 180ms, top 180ms, color 180ms;
}

.modal_overlay .modal_form .form-wrap .input_wrap .error {
  opacity: 0;
  transition: opacity 180ms;
  position: absolute;
  top: 110%;
  left: 20px;
  color: #00ffd8;
}

.modal_overlay .modal_form .form-wrap .input_wrap + .input_wrap {
  margin-top: 40px;
}

.modal_overlay .modal_form .form-wrap .input_wrap input:focus + .placeholder,
.modal_overlay .modal_form .form-wrap .input_wrap .filled + .placeholder,
.modal_overlay .modal_form .form-wrap .input_wrap input:invalid + .placeholder {
  top: 110%;
  transition: opacity 180ms, top 180ms, color 180ms;
}

.modal_overlay .modal_form .form-wrap .input_wrap input:invalid + .placeholder {
  opacity: 0;
  transition: opacity 180ms, top 180ms, color 180ms;
}

.modal_overlay .modal_form .form-wrap .input_wrap input:invalid + .placeholder + .error {
  opacity: 1;
  transition: opacity 180ms;
}

.modal_overlay .modal_form .form-wrap .input_wrap textarea {
  border-radius: 0;
  margin-bottom: 45px;
  min-height: 150px;
  padding: 15px 20px;
  background: transparent;
  resize: vertical;
  width: 100%;
  height: 161px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 24px;
  transition: color 180ms, border 180ms;
}

.modal_overlay .modal_form .form-wrap .input_wrap textarea + .placeholder {
  top: 19px;
}

.modal_overlay .modal_form .form-wrap .input_wrap textarea:focus {
  color: #00ffd8;
  border: 1px solid #00ffd8;
  transition: color 180ms, border 180ms;
}

.modal_overlay .modal_form .form-wrap .input_wrap textarea:focus + .placeholder, .modal_overlay .modal_form .form-wrap .input_wrap textarea.filled + .placeholder {
  top: -20px;
}

.modal_overlay .modal_form .form-wrap .default_btn {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
  line-height: 38px;
  text-align: center;
  width: 220px;
  height: 40px;
}

.privecy_wrap {
  min-height: calc(100vh - 75px);
  padding-top: 150px;
}

.privecy_wrap h1 {
  margin-bottom: 49px;
}

@media all and (max-width: 767px) {
  .privecy_wrap h1 {
    margin-bottom: 20px;
  }
}

.privecy_wrap p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 50px;
}

.privecy_wrap h2 {
  color: #00ffd8;
  margin-bottom: 13px;
}

.blog_page_wrap {
  min-height: calc(100vh - 75px);
  padding-top: 150px;
  padding-bottom: 150px;
}

.blog_page_wrap h1 {
  margin-bottom: 20px;
}

@media all and (max-width: 767px) {
  .blog_page_wrap h1 {
    padding-left: 0;
  }
  .blog_page_wrap h1 + p.categories {
    padding-left: 0;
  }
}

.blog_page_wrap p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  margin-bottom: 75px;
}

.blog_page_wrap p.categories {
  margin-bottom: 18px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 24px;
}

@media all and (max-width: 767px) {
  .blog_page_wrap p.categories {
    padding-left: 15px;
  }
}

.blog_page_wrap p.subtitle {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 24px;
}

.blog_page_wrap p.subtitle.green {
  color: #00ffd8;
  margin-bottom: 0;
}

.blog_page_wrap p.mid_title {
  color: #00ffd8;
  font-size: 22px;
  font-weight: 600;
  line-height: 40px;
}

.blog_page_wrap p.text {
  margin-bottom: 0;
}

.blog_page_wrap .read_more {
  margin-left: auto;
  margin-right: auto;
  width: 273px;
  height: 50px;
  line-height: 48px;
  margin-top: 25px;
  border-radius: 25px;
  border: 1px solid #00ffd8;
}

.blog_page_wrap h2 {
  color: #00ffd8;
  margin-bottom: 13px;
}

.blog_page_wrap .section_date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 33px;
}

@media all and (max-width: 767px) {
  .blog_page_wrap .section_date {
    margin-bottom: 15px;
  }
  .blog_page_wrap .section_date + h1 {
    padding-left: 0;
  }
}

.blog_page_wrap .section_date p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin-bottom: 0;
}

@media all and (max-width: 767px) {
  .blog_page_wrap .section_date p {
    font-size: 12px;
    letter-spacing: 0.6px;
  }
}

.blog_page_wrap ul {
  list-style: none;
  margin-top: 23px;
  margin-bottom: 85px;
}

.blog_page_wrap ul li {
  padding-left: 100px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}

@media all and (max-width: 767px) {
  .blog_page_wrap ul li {
    padding-left: 25px;
  }
}

.blog_page_wrap ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 63px;
  width: 8px;
  height: 8px;
  background-color: #00ffd8;
  border-radius: 50%;
}

@media all and (max-width: 767px) {
  .blog_page_wrap ul li:before {
    left: 0;
  }
}

.blog_page_wrap ul li + li {
  margin-top: 20px;
}

.blog_page_wrap ol {
  margin-top: 23px;
  list-style: none;
  counter-reset: list;
}

.blog_page_wrap ol li {
  counter-increment: list;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  padding-left: 100px;
}

@media all and (max-width: 767px) {
  .blog_page_wrap ol li {
    padding-left: 25px;
  }
}

.blog_page_wrap ol li:before {
  position: absolute;
  top: 1px;
  left: 63px;
  content: counter(list) ".";
  color: #00ffd8;
  font-size: 14px;
  font-weight: 600;
  margin-right: 25px;
}

@media all and (max-width: 767px) {
  .blog_page_wrap ol li:before {
    left: 0;
  }
}

.blog_page_wrap ol li + li {
  margin-top: 20px;
}

.blog_page_wrap .quote_wrap {
  margin-top: 75px;
  margin-bottom: 75px;
  padding-left: 100px;
  padding-right: 100px;
}

@media all and (max-width: 767px) {
  .blog_page_wrap .quote_wrap {
    padding-left: 50px;
    padding-right: 0;
    margin-top: 60px;
    margin-bottom: 50px;
  }
}

.blog_page_wrap .quote_wrap::before {
  content: "";
  display: block;
  position: absolute;
  top: -17px;
  left: 26px;
  width: 41px;
  height: 35px;
  background: url("../img/quote_icon.svg") no-repeat center/contain;
}

@media all and (max-width: 767px) {
  .blog_page_wrap .quote_wrap::before {
    width: 28px;
    height: 24px;
    left: 0;
    top: -7px;
  }
}

.blog_page_wrap .quote_wrap p {
  margin-bottom: 0;
  max-width: 778px;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  font-style: italic;
}

@media all and (max-width: 767px) {
  .blog_page_wrap .quote_wrap p {
    line-height: 28px;
  }
}

.blog_page_wrap .categories_wrap {
  margin-bottom: 65px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media all and (max-width: 767px) {
  .blog_page_wrap .categories_wrap {
    padding-left: 0;
    margin-bottom: 10px;
  }
}

.blog_page_wrap .categories_wrap .categorie {
  width: auto;
  padding-left: 35px;
  padding-right: 35px;
  height: 30px;
  border-radius: 23px;
  line-height: 28px;
  margin-right: 20px;
  margin-bottom: 10px;
}

@media all and (max-width: 767px) {
  .blog_page_wrap .categories_wrap .categorie {
    margin-right: 15px;
  }
}

.blog_page_wrap .categories_wrap .categorie.active {
  background-color: #00ffd8;
  color: #070b12;
}

.blog_page_wrap .blog_link_wrap {
  padding-top: 20px;
  margin-bottom: 0;
}

.read_also {
  box-shadow: 0 0 45px #000;
}

.read_also h1 {
  margin-bottom: 48px;
}

@media all and (max-width: 767px) {
  .read_also h1 {
    margin-bottom: 0;
    padding-left: 30px;
  }
}

.e404_wrap {
  min-height: 100vh;
  padding-top: 250px;
  padding-left: 456px;
  z-index: 1;
}

@media all and (max-width: 769px) {
  .e404_wrap {
    padding-top: 50px;
    padding-left: 56px;
  }
}

@media all and (max-width: 375px) {
  .e404_wrap {
    padding-left: 60px;
    padding-top: 35px;
  }
}

.e404_wrap:before {
  position: absolute;
  left: 200px;
  top: 250px;
  content: "404";
  color: #00ffd8;
  font-size: 310px;
  font-weight: 600;
  line-height: 333px;
  opacity: 0.1;
}

@media all and (max-width: 769px) {
  .e404_wrap:before {
    left: 50px;
    top: 50px;
  }
}

@media all and (max-width: 767px) {
  .e404_wrap:before {
    font-size: 131px;
    left: 10px;
    top: 25px;
  }
}

@media all and (max-width: 375px) {
  .e404_wrap:before {
    left: 0;
  }
}

.e404_wrap h1 {
  margin-top: 180px;
  margin-bottom: 15px;
}

.e404_wrap p {
  max-width: 464px;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 38px;
}

@media all and (max-width: 767px) {
  .e404_wrap p {
    max-width: 252px;
    font-size: 20px;
    line-height: 30px;
  }
}

.e404_wrap .to_main {
  width: 273px;
  height: 50px;
  line-height: 48px;
  border-radius: 25px;
}

@media all and (max-width: 375px) {
  .e404_wrap .to_main {
    width: 250px;
    height: 45px;
    line-height: 43px;
  }
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  pointer-events: none;
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=styles.css.map */