@import "basic.scss";
@import "grid";

:root {
  --animate-delay: 0.7s;
}

body {
  max-width: 100vw;
  overflow-x: hidden;

  &.show_modal {
    overflow-y: hidden;
  }
}

h1 {
  color: #fff;
  font-size: 65px;
  font-weight: 600;
  line-height: 70px;
  text-align: left;

  @media all and (max-width: 760px) {
    font-size: 34px;
    line-height: 45px;
  }

  span {
    color: $aqua;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
  }
}

h2 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 40px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;

  @media all and (max-width: 760px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.container {
  width: 1366px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.default_btn {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.6px;
  line-height: 38px;
  text-align: center;
  width: 220px;
  height: 40px;
  display: block;
  border-radius: 23px;
  border: 1px solid $aqua;
  background-color: transparent;
  transition: background-color 180ms, color 180ms;

  &:hover {
    background-color: $aqua;
    color: $dark;
    transition: background-color 180ms, color 180ms;
  }
}

.arrow_btn {
  width: 36px;
  height: 36px;
  flex: none;
  border: 1px solid $aqua;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: background-color 180ms;

  svg {
    width: 10px;
  }

  path {
    fill: #fff;
    transition: fill 180ms;
  }

  &:hover {
    background-color: $aqua;
    transition: background-color 180ms;

    path {
      fill: $dark;
      transition: fill 180ms;
    }
  }
}

.swiper_nav {
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;

  .swiper_prev {
    &::after {
      display: none;
    }

    .arrow_btn {
      transform: rotate(90deg);
    }
  }

  .swiper_next {
    margin-left: 42px;

    &::after {
      display: none;
    }

    .arrow_btn {
      transform: rotate(-90deg);
    }
  }
}

header {
  z-index: 5;
  position: fixed;
  width: 100%;
  box-shadow: 0 6px 45px rgba(0, 0, 0, 0.95);
  background: $dark url("../img/header_bg.jpg") no-repeat left center;

  @media all and (max-width: 769px) {
    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      content: "";
      background: $dark url("../img/header_mobile_bg.jpg") no-repeat left center /
        auto 100%;
    }
  }

  .container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;

    @media all and (max-width: 769px) {
      & > * {
        z-index: 3;
      }
    }

    @media all and (max-width: 767px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .logo {
      height: 19px;
      opacity: 1;
      transition: opacity 180ms;

      &:hover {
        opacity: 0.4;
        transition: opacity 180ms;
      }
    }

    nav {
      display: flex;
      align-items: center;
      background: #070b12;

      @media all and (max-width: 769px) {
        max-height: 100vh;
        position: fixed;
        top: 0;
        padding-top: 150px;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: 0;
        flex-wrap: wrap;
        transform: translateX(100%);
        transition: transform 360ms;
        background: url("../img/mobile_menu_bg.jpg") no-repeat top 31px center /
          cover;

        &.active {
          transform: translateX(0);
          transition: transform 360ms;
        }
      }

      ul {
        list-style: none;
        display: flex;
        align-items: center;

        @media all and (max-width: 769px) {
          flex: 1 1 100%;
          flex-direction: column;
        }

        li {
          font-size: 14px;
          font-weight: 300;

          @media all and (max-width: 769px) {
            padding-left: 60px;
            width: 100%;
            color: #fff;
            font-size: 35px;
            font-weight: 600;
            letter-spacing: normal;
            line-height: 45px;
            line-height: normal;
            text-align: left;
          }

          &.active {
            &:after {
              content: "";
              display: block;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: $aqua;
              position: absolute;
              left: calc(50% - 2px);
              top: calc(100% + 4px);

              @media all and (max-width: 769px) {
                display: none;
              }
            }
          }

          a {
            color: #ffffff;
            transition: color 180ms;

            &:hover {
              color: $aqua;
              transition: color 180ms;
            }
          }

          & + li {
            margin-left: 48px;

            @media all and (max-width: 769px) {
              margin-left: 0;
              margin-top: 30px;
            }
          }
        }
      }
    }

    .get_in_touch {
      margin-left: 38px;

      @media all and (max-width: 769px) {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
      }
    }

    .nav_social_block {
      display: none;

      @media all and (max-width: 769px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 100%;
        margin-top: 50px;
        margin-bottom: 50px;

        a {
          display: block;
          pointer-events: all;

          svg {
            max-height: 20px;
            path {
              fill: #fff;
              transition: fill 180ms;
            }

            &:hover {
              path {
                fill: $aqua;
                transition: fill 180ms;
              }
            }
          }

          & + a {
            margin-left: 50px;
          }
        }
      }
    }
  }

  .burger {
    display: none;

    @media all and (max-width: 769px) {
      width: 21px;
      height: 21px;
      display: block;

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        transition: opacity 360ms;
      }

      &:before {
        transition: opacity 360ms;
        background: url("../img/menu_burge_icon.svg") no-repeat center / contain;
      }

      &:after {
        opacity: 0;
        transition: opacity 360ms;
        background: url("../img/menu_close_icon.svg") no-repeat center / contain;
      }

      &.active {
        &:before {
          opacity: 0;
          transition: opacity 360ms;
        }

        &:after {
          opacity: 1;
          transition: opacity 360ms;
        }
      }
    }
  }
}

.bg {
  position: fixed;
  top: -5vh;
  left: -5%;
  width: 110%;
  height: 110vh;
  z-index: 1;
  background-color: $dark;

  & > div {
    width: 100%;
    height: 110vh;
  }

  .layer1 {
    background: url("../img/top_bg_big.png") no-repeat center / cover;
    background: url("../img/bg_desktop_1.svg") no-repeat top left;

    @media all and (max-width: 767px) {
      background: url("../img/mobile_top_bg.png") no-repeat top center/ auto 50%;
      background: url("../img/bg_mobile_1.svg") no-repeat top center;
    }
  }

  .layer2 {
    background: url("../img/top_bg_mid.png") no-repeat center / cover;
    background: url("../img/bg_desktop_2.svg") no-repeat right bottom;

    @media all and (max-width: 767px) {
      display: none !important;
    }
  }

  .layer3 {
    background: url("../img/top_bg_sml.png") no-repeat center / cover;
    background: url("../img/bg_desktop_3.svg") no-repeat left bottom;

    @media all and (max-width: 767px) {
      background: url("../img/mobile_bottom_bg.png") no-repeat bottom center/
        auto 50%;
      background: url("../img/bg_mobile_2.svg") no-repeat bottom center;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
  }
}

.cookies {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 5;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.64);
  background-color: $dark;
  transform: translateY(0);
  transition: transform 360ms;

  @media all and (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 60px;
    flex-wrap: wrap;
  }

  &.hidden {
    transform: translateY(100%);
    transition: transform 360ms;
  }

  .inner {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media all and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  p {
    max-width: 835px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;

    @media all and (max-width: 1025px) {
      max-width: 90%;
    }

    @media all and (max-width: 767px) {
      max-width: 100%;
      flex: 1 1 100%;
    }

    a {
      color: #fff;
      font-weight: 600;
      letter-spacing: 0.7px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .ok_btn {
    text-transform: uppercase;
    width: 114px;
    height: 34px;
    border-radius: 17px;
    line-height: normal;

    @media all and (max-width: 767px) {
      width: 114px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
    }
  }
}

.right_social_block {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100vh;
  pointer-events: none;

  @media all and (max-width: 769px) {
    display: none;
  }

  .container {
    top: 50%;
    transform: translateY(-50%);
  }

  .links {
    position: absolute;
    right: 50px;
    width: 20px;
    transform: translateY(-50%);

    @media all and (max-width: 1025px) {
      right: 30px;
    }
  }

  a {
    display: block;
    pointer-events: all;

    svg {
      max-height: 20px;
      path {
        fill: #fff;
        transition: fill 180ms;
      }

      &:hover {
        path {
          fill: $aqua;
          transition: fill 180ms;
        }
      }
    }

    & + a {
      margin-top: 47px;
    }
  }
}

section {
  z-index: 2;
  padding-top: 110px;
  padding-bottom: 190px;

  @media all and (max-width: 769px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.screen_1 {
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;

  .row {
    top: 50%;
    transform: translateY(-50%);
  }

  h1 {
    max-width: 758px;
    margin-bottom: 40px;
  }

  .get_in_touch {
    width: 273px;
    height: 50px;
    border-radius: 25px;
    line-height: 48px;

    @media all and (max-width: 767px) {
      width: 252px;
      height: 45px;
      border-radius: 23px;
      line-height: 43px;
    }
  }

  .scroll_screen_1 {
    position: absolute;
    right: 40px;
    bottom: 160px;

    @media all and (max-width: 769px) {
      right: 20px;
      bottom: 30px;
    }
  }
}

.screen_2 {
  display: flex;
  padding-top: 250px;

  @media all and (max-width: 1025px) {
    padding-top: 110px;
  }
  @media all and (max-width: 767px) {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .left {
    @media all and (max-width: 767px) {
      order: 2;
    }

    .num_wrap {
      border-radius: 50%;
      color: #ffffff;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: default;
      flex: none;

      svg {
        position: absolute;
        top: 0;
        left: 0;
      }

      .circle {
        stroke: $aqua;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
      }

      @keyframes stroke {
        to {
          stroke-dashoffset: 0;
        }
      }

      span {
        &:after {
          content: "+";
          color: #ffffff;
          font-weight: 600;
        }
      }
    }

    p {
      max-width: 100px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.8px;
      line-height: 24px;
    }

    .info {
      display: flex;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
      flex: none;
    }

    .big {
      p {
        margin-left: 26px;
      }

      .num_wrap {
        width: 175px;
        height: 175px;
        font-size: 72px;

        svg {
          top: -13px;
          left: -14px;
          transform: scale(0.9) rotate(-90deg);
        }

        span:after {
          font-size: 34px;
          vertical-align: 25px;
        }
      }
    }

    .small {
      @media all and (max-width: 767px) {
        margin-top: 20px;
        margin-bottom: 30px;
      }

      p {
        margin-left: 20px;
      }

      .num_wrap {
        width: 90px;
        height: 90px;
        font-size: 44px;

        svg {
          transform: scale(0.5) rotate(-90deg);
          top: -56px;
          left: -56px;
        }

        span:after {
          font-size: 21px;
          vertical-align: 14px;
        }
      }
    }

    .mid {
      p {
        margin-left: 20px;
      }

      .num_wrap {
        width: 120px;
        height: 120px;
        font-size: 48px;

        svg {
          transform: scale(0.6) rotate(-90deg);
          top: -41px;
          left: -41px;
        }

        span:after {
          font-size: 22px;
          vertical-align: 15px;
        }
      }
    }
  }

  .right {
    @media all and (max-width: 769px) {
      padding-top: 50px;
    }

    @media all and (max-width: 767px) {
      order: 1;
      padding-top: 0;
    }

    h1 {
      padding-top: 23px;
      max-width: 375px;
      margin-bottom: 35px;

      @media all and (max-width: 1001px) {
        max-width: 100%;
      }

      @media all and (max-width: 767px) {
        margin-bottom: 50px;
        margin-left: 40%;

        span {
          display: block;
        }
      }
    }

    p {
      margin-left: 30px;
      max-width: 442px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      line-height: 30px;
      text-align: left;

      @media all and (max-width: 1001px) {
        max-width: 100%;
      }

      @media all and (max-width: 767px) {
        display: none;
      }
    }
  }
}

.screen_3 {
  @media all and (max-width: 767px) {
    padding-top: 100px;
  }

  h1 {
    margin-bottom: 75px;

    @media all and (max-width: 767px) {
      margin-bottom: -25px;
    }
  }

  .service {
    @media all and (max-width: 767px) {
      margin-top: 75px;
    }

    .halfclip {
      width: 50%;
      height: 100%;
      right: 0px;
      position: absolute;
      overflow: hidden;
      transform-origin: left center;
    }

    .halfclip_container {
      width: 300px;
      height: 300px;
      position: absolute;
      width: 220px;
      height: 220px;
      transform: rotate(-62deg);
      top: 6px;
      left: 37px;
    }

    .halfcircle {
      opacity: 0;
      box-sizing: border-box;
      height: 100%;
      right: 0px;
      position: absolute;
      border: solid 2px transparent;
      border-top-color: $aqua;
      border-left-color: $aqua;
      border-radius: 50%;
      width: 200%;
      transform: rotate(-45deg);
      transform: rotate(135deg);
    }

    @keyframes rotate {
      0% {
        opacity: 0;
        transform: rotate(-45deg);
      }
      1% {
        opacity: 1;
      }
      100% {
        opacity: 1;
        transform: rotate(135deg);
      }
    }

    h2 {
      max-width: 240px;
      padding-top: 97px;
      padding-right: 20px;
      margin-bottom: 33px;
      width: 265px;
      height: 175px;
    }

    p {
      margin-left: 100px;
      max-width: 380px;
      color: #fff;
      font-size: 14px;
      font-weight: 300;
      line-height: 30px;

      @media all and (max-width: 767px) {
        margin-left: 40px;
      }
    }

    &.shifted {
      margin-top: 128px;

      @media all and (max-width: 767px) {
        margin-top: 75px;
      }
    }
  }

  .aws_wrap {
    margin-top: 150px;
    margin-bottom: 100px;
    padding: 75px 100px;
    max-width: 980px;
    transition: border-color 0.25s;

    @media all and (max-width: 769px) {
      padding: 30px;
      margin-left: 30px;
      margin-right: 30px;
    }

    @media all and (max-width: 767px) {
      padding: 75px 30px 100px 15px;
      margin-left: 0;
      margin-right: 30px;
      margin-bottom: 0;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border: 2px solid transparent;
      width: 0;
      height: 0;
    }

    &::before {
      top: -4px;
      left: -4px;
    }

    &::after {
      bottom: 0;
      right: 0;
    }

    &.animated::before,
    &.animated::after {
      width: 100%;
      height: 100%;
    }

    &.animated::before {
      border-top-color: $aqua;
      border-right-color: $aqua;
      transition: width 0.5s ease-out 0.5s, height 0.5s ease-out 1s;
    }

    &.animated::after {
      border-bottom-color: $aqua;
      border-left-color: $aqua;
      transition: border-color 0s ease-out 1.5s, width 0.5s ease-out 1.5s,
        height 0.5s ease-out 2s;
    }

    .aws {
      width: 277px;
      height: 135px;
      color: $aqua;
      font-size: 110px;
      font-weight: 700;
      margin-bottom: 34px;
      text-transform: uppercase;

      span {
        position: absolute;
        bottom: 0;
        right: 0;
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.7px;
        text-transform: uppercase;
      }
    }

    .text {
      margin-left: 200px;
      max-width: 576px;
      color: #ffffff;
      font-size: 28px;
      font-weight: 600;
      line-height: 54px;

      @media all and (max-width: 769px) {
        font-size: 20px;
        line-height: 40px;
        margin-left: 100px;
        max-width: 100%;
      }

      @media all and (max-width: 767px) {
        margin-left: 0;
      }
    }
  }
}

.screen_4 {
  h1 {
    margin-bottom: 75px;

    @media all and (max-width: 767px) {
      margin-bottom: 50px;
      margin-left: 40%;
    }
  }

  h2 {
    margin-bottom: 23px;
  }

  .wy {
    display: flex;
    margin-bottom: 20px;

    @media all and (max-width: 767px) {
      margin-bottom: 50px;
    }

    img {
      flex: none;
      margin-right: 30px;
      width: 45px;
      align-self: baseline;
      margin-top: -2px;
    }

    p {
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      line-height: 30px;
    }
  }
}

.screen_5 {
  box-shadow: 0 0 45px #000000;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-bottom: 190px;

  @media all and (max-width: 767px) {
    padding: 75px 50px 100px;
    margin-bottom: 100px;
  }

  h1 {
    margin-bottom: 20px;
    text-align: center;
  }

  h2 {
    margin-bottom: 43px;
    text-align: center;
  }

  .get_in_touch {
    margin-left: auto;
    margin-right: auto;
    width: 273px;
    height: 50px;
    border-radius: 25px;
    line-height: 48px;

    @media all and (max-width: 767px) {
      width: 252px;
      height: 45px;
      border-radius: 23px;
      line-height: 43px;
    }
  }
}

.screen_6 {
  padding-bottom: 125px;

  @media all and (max-width: 767px) {
    padding-top: 100px;
  }

  h1 {
    margin-bottom: 100px;

    @media all and (max-width: 767px) {
      margin-bottom: 50px;
    }
  }

  .sponsors {
    flex-wrap: wrap;

    .sponsor {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90px;
      margin-bottom: 50px;

      @media all and (max-width: 767px) {
        height: 60px;
        margin-bottom: 30px;
      }
    }

    img {
      max-width: 188px;

      @media all and (max-width: 767px) {
        max-width: 100px;
      }
    }
  }

  .swiper_nav {
    margin-top: 0;
  }
}

.screen_7 {
  @media all and (max-width: 767px) {
    padding-bottom: 100px;
  }

  h1 {
    margin-bottom: 75px;

    @media all and (max-width: 767px) {
      margin-bottom: 50px;
      margin-left: 50%;

      span {
        color: #fff;
      }
    }
  }

  .swiper-container {
    padding-left: 10px;

    @media all and (max-width: 1025px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .swiper-slide {
    border: 2px solid $aqua;
    padding: 50px 45px 75px;

    @media all and (max-width: 767px) {
      padding: 50px 35px 75px;
    }

    h2 {
      color: $aqua;
      height: 36px;

      @media all and (max-width: 767px) {
        height: 26px;
      }
    }

    p.author {
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.7px;
      margin-bottom: 10px;
    }

    .stars {
      display: flex;
      align-items: center;
      margin-bottom: 26px;

      img {
        height: 12px;

        & + img {
          margin-left: 8px;
        }
      }
    }

    p.text {
      color: #fff;
      font-size: 14px;
      font-weight: 300;
      line-height: 30px;
    }
  }

  .swiper_nav {
    @media all and (max-width: 767px) {
      margin-top: 35px;
    }
  }
}

.screen_8 {
  @media all and (max-width: 767px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  h1 {
    margin-bottom: 25px;

    @media all and (max-width: 767px) {
      margin-bottom: 0;
      padding-left: 15px;

      span {
        color: #fff;
      }
    }
  }

  .read_more {
    margin-left: auto;
    margin-right: auto;
  }
}

.blog_link_wrap {
  padding-bottom: 50px;
  padding-top: 50px;
  border-bottom: 1px solid #fff;

  @media all and (max-width: 767px) {
    padding-bottom: 100px;
    margin-left: 15px;
    margin-right: 15px;
    max-width: calc(100% - 30px);
    min-width: calc(100% - 30px);
    margin-bottom: 75px;
  }

  .section_date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;

    p {
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.8px;
      margin-bottom: 0;

      @media all and (max-width: 767px) {
        font-size: 12px;
        letter-spacing: 0.6px;
      }
    }
  }

  h2 {
    max-width: 880px;
    color: $aqua;
    margin-bottom: 14px;
  }

  p.text {
    max-width: 880px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
  }

  .arrow_btn {
    position: absolute;
    right: 0;
    bottom: 50px;
    transform: rotate(-90deg);

    @media all and (max-width: 767px) {
      bottom: 30px;
      right: 5px;
    }
  }

  &.no_border {
    border-bottom: none;
  }
}

.screen_9 {
  padding-bottom: 0;
  margin-bottom: -10px;

  @media all and (max-width: 767px) {
    padding-top: 100px;
  }

  h1 {
    margin-bottom: 110px;

    @media all and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  .contacts {
    padding-top: 215px;
    padding-left: 39px;

    @media all and (max-width: 769px) {
      padding-bottom: 100px;
      padding-top: 0;
    }

    @media all and (max-width: 767px) {
      padding-bottom: 100px;
      padding-top: 0;
      padding-left: 15px;
    }

    .line {
      display: flex;
      align-items: center;
      color: #ffffff;
      font-size: 22px;
      font-weight: 600;
      line-height: 30px;

      @media all and (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
      }

      &:not(a) {
        cursor: default;
      }

      img {
        flex: none;
        width: 20px;
        max-height: 22px;
        margin-right: 30px;
      }

      & + .line {
        margin-top: 50px;

        @media all and (max-width: 767px) {
          margin-top: 25px;
        }
      }
    }

    a.line {
      transition: color 180ms;

      &:hover {
        color: $aqua;
        transition: color 180ms;
      }
    }
  }

  .form-wrap {
    border: 2px solid $aqua;
    padding: 100px 64px 80px;

    @media all and (max-width: 767px) {
      padding: 50px 15px;
    }

    h2 {
      span {
        color: $aqua;
      }
    }

    p {
      max-width: 374px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      margin-bottom: 45px;
    }

    input {
      display: block;
      background: transparent;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.8px;
      line-height: 24px;
      padding-left: 20px;
      width: 100%;
      border-bottom: 1px solid #fff;
      transition: border-bottom 180ms, color 180ms;

      &:focus,
      &:invalid {
        color: $aqua;
        border-bottom: 1px solid $aqua;
        transition: border-bottom 180ms, color 180ms;
      }
    }

    .input_wrap {
      .placeholder {
        pointer-events: none;
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        position: absolute;
        left: 20px;
        top: 2px;
        white-space: nowrap;
        opacity: 1;
        transition: opacity 180ms, top 180ms, color 180ms;
      }

      .error {
        opacity: 0;
        transition: opacity 180ms;
        position: absolute;
        top: 110%;
        left: 20px;
        color: $aqua;
      }

      & + .input_wrap {
        margin-top: 40px;
      }

      input:focus + .placeholder,
      .filled + .placeholder,
      input:invalid + .placeholder {
        top: 110%;
        transition: opacity 180ms, top 180ms, color 180ms;
      }

      input:invalid {
        & + .placeholder {
          opacity: 0;
          transition: opacity 180ms, top 180ms, color 180ms;

          & + .error {
            opacity: 1;
            transition: opacity 180ms;
          }
        }
      }

      textarea {
        margin-bottom: 45px;
        min-height: 150px;
        padding: 15px 20px;
        background: transparent;
        resize: vertical;
        width: 100%;
        height: 161px;
        border: 1px solid #ffffff;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.8px;
        line-height: 24px;
        transition: color 180ms, border 180ms;

        & + .placeholder {
          top: 19px;
        }

        &:focus {
          color: $aqua;
          border: 1px solid $aqua;
          transition: color 180ms, border 180ms;
        }

        &:focus,
        &.filled {
          & + .placeholder {
            top: -20px;
          }
        }
      }
    }

    .call_modal {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

footer {
  z-index: 2;
  display: flex;
  align-items: center;
  height: 75px;
  background-color: $dark;
  box-shadow: 0 -3px 45px #000000;

  @media all and (max-width: 1025px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media all and (max-width: 767px) {
    padding: 35px 17px 50px;
    height: auto;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media all and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  p {
    color: #ffffff;
    font-size: 10px;
    font-weight: 300;
    line-height: 16px;

    @media all and (max-width: 767px) {
      flex: 1 1 100%;
      margin-bottom: 15px;
    }
  }

  a {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.6px;
    transition: opacity 180ms;
    opacity: 1;

    @media all and (max-width: 767px) {
      flex: 1 1 50%;

      &:last-child {
        flex: 1 1 100%;
        margin-top: 24px;
      }
    }

    img {
      height: 35px;
    }

    &:hover {
      transition: opacity 180ms;
      opacity: 0.4;
    }
  }
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 11, 18, 0.7);
  opacity: 1;
  transition: opacity 360ms;
  pointer-events: all;

  &.hidden {
    opacity: 0;
    transition: opacity 360ms;
    pointer-events: none;
  }

  .close {
    width: 17px;
    height: 17px;
    position: absolute;
    z-index: 1;
    top: 25px;
    right: 25px;

    path {
      fill: #fff;
      transition: fill 180ms;
    }

    &:hover {
      path {
        fill: $aqua;
        transition: fill 180ms;
      }
    }
  }

  .modal {
    width: 375px;
    padding: 75px 77px 75px 52px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 6px 45px rgba(0, 0, 0, 0.95);
    background: url("../img/modal_bg.jpg") no-repeat center / cover;

    h2 {
      max-width: 235px;
      margin-bottom: 12px;

      span {
        color: $aqua;
      }
    }

    p {
      max-width: 186px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      margin-bottom: 42px;
    }

    .close_modal {
      margin-left: 26px;
    }
  }

  .modal_form {
    max-height: 90vh;
    overflow: auto;
    width: 341px;
    max-width: calc(100% - 50px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 6px 45px rgba(0, 0, 0, 0.95);
    background: url("../img/modal_bg.jpg") no-repeat center / cover;

    .form-wrap {
      padding: 100px 64px 80px;

      @media all and (max-width: 767px) {
        padding: 50px 15px;
      }

      h2 {
        span {
          color: $aqua;
        }
      }

      p {
        max-width: 374px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 45px;
      }

      input {
        display: block;
        background: transparent;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.8px;
        line-height: 24px;
        padding-left: 20px;
        width: 100%;
        border-bottom: 1px solid #fff;
        transition: border-bottom 180ms, color 180ms;

        &:focus,
        &:invalid {
          color: $aqua;
          border-bottom: 1px solid $aqua;
          transition: border-bottom 180ms, color 180ms;
        }
      }

      .input_wrap {
        .placeholder {
          pointer-events: none;
          color: #ffffff;
          font-size: 14px;
          font-weight: 300;
          position: absolute;
          left: 20px;
          top: 2px;
          white-space: nowrap;
          opacity: 1;
          transition: opacity 180ms, top 180ms, color 180ms;
        }

        .error {
          opacity: 0;
          transition: opacity 180ms;
          position: absolute;
          top: 110%;
          left: 20px;
          color: $aqua;
        }

        & + .input_wrap {
          margin-top: 40px;
        }

        input:focus + .placeholder,
        .filled + .placeholder,
        input:invalid + .placeholder {
          top: 110%;
          transition: opacity 180ms, top 180ms, color 180ms;
        }

        input:invalid {
          & + .placeholder {
            opacity: 0;
            transition: opacity 180ms, top 180ms, color 180ms;

            & + .error {
              opacity: 1;
              transition: opacity 180ms;
            }
          }
        }

        textarea {
          margin-bottom: 45px;
          min-height: 150px;
          padding: 15px 20px;
          background: transparent;
          resize: vertical;
          width: 100%;
          height: 161px;
          border: 1px solid #ffffff;
          color: #ffffff;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.8px;
          line-height: 24px;
          transition: color 180ms, border 180ms;

          & + .placeholder {
            top: 19px;
          }

          &:focus {
            color: $aqua;
            border: 1px solid $aqua;
            transition: color 180ms, border 180ms;
          }

          &:focus,
          &.filled {
            & + .placeholder {
              top: -20px;
            }
          }
        }
      }

      .default_btn {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

.privecy_wrap {
  min-height: calc(100vh - 75px);
  padding-top: 150px;

  h1 {
    margin-bottom: 49px;

    @media all and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
  }

  h2 {
    color: $aqua;
    margin-bottom: 13px;
  }
}

.blog_page_wrap {
  min-height: calc(100vh - 75px);
  padding-top: 150px;
  padding-bottom: 150px;

  h1 {
    margin-bottom: 20px;

    @media all and (max-width: 767px) {
      padding-left: 0;

      & + p.categories {
        padding-left: 0;
      }
    }
  }

  p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    margin-bottom: 75px;

    &.categories {
      margin-bottom: 18px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.8px;
      line-height: 24px;

      @media all and (max-width: 767px) {
        padding-left: 15px;
      }
    }

    &.subtitle {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.8px;
      line-height: 24px;

      &.green {
        color: $aqua;
        margin-bottom: 0;
      }
    }

    &.mid_title {
      color: $aqua;
      font-size: 22px;
      font-weight: 600;
      line-height: 40px;
    }

    &.text {
      margin-bottom: 0;
    }
  }

  .read_more {
    margin-left: auto;
    margin-right: auto;
    width: 273px;
    height: 50px;
    line-height: 48px;
    margin-top: 25px;
    border-radius: 25px;
    border: 1px solid $aqua;
  }

  h2 {
    color: $aqua;
    margin-bottom: 13px;
  }

  .section_date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 33px;

    @media all and (max-width: 767px) {
      margin-bottom: 15px;

      & + h1 {
        padding-left: 0;
      }
    }

    p {
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.8px;
      margin-bottom: 0;

      @media all and (max-width: 767px) {
        font-size: 12px;
        letter-spacing: 0.6px;
      }
    }
  }

  ul {
    list-style: none;
    margin-top: 23px;
    margin-bottom: 85px;

    li {
      padding-left: 100px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;

      @media all and (max-width: 767px) {
        padding-left: 25px;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 5px;
        left: 63px;
        width: 8px;
        height: 8px;
        background-color: $aqua;
        border-radius: 50%;

        @media all and (max-width: 767px) {
          left: 0;
        }
      }

      & + li {
        margin-top: 20px;
      }
    }
  }

  ol {
    margin-top: 23px;
    list-style: none;
    counter-reset: list;

    li {
      counter-increment: list;
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      padding-left: 100px;

      @media all and (max-width: 767px) {
        padding-left: 25px;
      }

      &:before {
        position: absolute;
        top: 1px;
        left: 63px;
        content: counter(list) ".";
        color: $aqua;
        font-size: 14px;
        font-weight: 600;
        margin-right: 25px;

        @media all and (max-width: 767px) {
          left: 0;
        }
      }

      & + li {
        margin-top: 20px;
      }
    }
  }

  .quote_wrap {
    margin-top: 75px;
    margin-bottom: 75px;
    padding-left: 100px;
    padding-right: 100px;

    @media all and (max-width: 767px) {
      padding-left: 50px;
      padding-right: 0;
      margin-top: 60px;
      margin-bottom: 50px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -17px;
      left: 26px;
      width: 41px;
      height: 35px;
      background: url("../img/quote_icon.svg") no-repeat center / contain;

      @media all and (max-width: 767px) {
        width: 28px;
        height: 24px;
        left: 0;
        top: -7px;
      }
    }

    p {
      margin-bottom: 0;
      max-width: 778px;
      color: #fff;
      font-size: 22px;
      font-weight: 600;
      line-height: 33px;
      font-style: italic;

      @media all and (max-width: 767px) {
        line-height: 28px;
      }
    }
  }

  .categories_wrap {
    margin-bottom: 65px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media all and (max-width: 767px) {
      padding-left: 0;
      margin-bottom: 10px;
    }

    .categorie {
      width: auto;
      padding-left: 35px;
      padding-right: 35px;
      height: 30px;
      border-radius: 23px;
      line-height: 28px;
      margin-right: 20px;
      margin-bottom: 10px;

      &.active {
        background-color: $aqua;
        color: $dark;
      }
    }
  }

  .blog_link_wrap {
    padding-top: 20px;
    margin-bottom: 0;
  }
}

.read_also {
  box-shadow: 0 0 45px #000;

  h1 {
    margin-bottom: 48px;

    @media all and (max-width: 767px) {
      margin-bottom: 0;
      padding-left: 30px;
    }
  }
}

.e404_wrap {
  min-height: 100vh;
  padding-top: 250px;
  padding-left: 456px;
  z-index: 1;

  @media all and (max-width: 769px) {
    padding-top: 50px;
    padding-left: 56px;
  }

  @media all and (max-width: 375px) {
    padding-left: 60px;
    padding-top: 35px;
  }

  &:before {
    position: absolute;
    left: 200px;
    top: 250px;
    content: "404";
    color: $aqua;
    font-size: 310px;
    font-weight: 600;
    line-height: 333px;
    opacity: 0.1;

    @media all and (max-width: 769px) {
      left: 50px;
      top: 50px;
    }

    @media all and (max-width: 767px) {
      font-size: 131px;
      left: 10px;
      top: 25px;
    }

    @media all and (max-width: 375px) {
      left: 0;
    }
  }

  h1 {
    margin-top: 180px;
    margin-bottom: 15px;
  }

  p {
    max-width: 464px;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 38px;

    @media all and (max-width: 767px) {
      max-width: 252px;
      font-size: 20px;
      line-height: 30px;
    }
  }

  .to_main {
    width: 273px;
    height: 50px;
    line-height: 48px;
    border-radius: 25px;

    @media all and (max-width: 375px) {
      width: 250px;
      height: 45px;
      line-height: 43px;
    }
  }
}
